# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment files
.env

# Vosk model files
models/vosk-model/

# PyCharm / VSCode
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log
